[user]
	name = Ralf Vogler
	email = ralf.vogler@gmail.com
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
    username = vogler
[credential "https://bitbucket.org"]
    username = vogler
[github]
    user = vogler
[hub]
    protocol = https
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = current
[color]
	ui = auto
