[user]
	name = Ralf Vogler
	email = ralf.vogler@gmail.com
[credential]
	helper = osxkeychain
[credential "https://github.com"]
    username = vogler
[credential "https://bitbucket.org"]
    username = vogler
[credential "https://versioncontrolseidl.in.tum.de"]
    username = vogler
[github]
    user = vogler
[hub]
    protocol = https
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[push]
	default = current
[color]
	ui = auto
[merge]
	tool = meld
[rebase]
    autostash = true
#This will add the fixup command to git
#git fixup $commit will use your current index to fixup the specified commit
#This is done by doing git commit --fixup $commit and then using rebase with autosquash
#Based upon http://stackoverflow.com/a/21148981/460564
[alias]
    fixup = "!sh -c '(git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && git rebase -i --autosquash $COMMIT~1' -"
    root = !pwd
    exec = "!exec "
    stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
    jump = !/usr/local/opt/git/share/git-core/contrib/git-jump/git-jump
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
